<style>

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        color: #333;
    }

    /* Style for the question list */
    .question-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Style for each question item */
    .question-item {
        margin: 10px;
        padding: 10px;
        background-color: #f5f5f5;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .question-item:hover {
        background-color: #f2f2f2;
    }

    /* Style for the "Create Question" button */
    .create-question-btn {
        display: block;
        width: 200px;
        margin: 20px auto;
        padding: 10px;
        background-color: #4CAF50;
        color: #fff !important;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease-in-out;
    }

    .create-question-btn:hover {
        background-color: #3e8e41;
    }

    a,
    a:visited {
        color: #000;
        text-decoration: none;
    }

    .login_div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        gap: 15px;
        margin-right: 20px;
        height: 51px;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 4px 6px;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        font-size: 12px;
        width: 50px;
    }

    p {
        margin: 0;
    }


</style>
<div class="login_div">
    {% if user.is_authenticated %}
    <div class="loged_data_div">
        <p>Logged in as <b>{{request.user}}</b> {% if user.is_superuser %} (Admin){% endif %}</p>
        {% if not user.is_superuser %}
        <p>Numero de votos: <b>{{aluno.numero_votos}}</b></p>
        {% endif %}
    </div>
    <a href="{% url 'votacao:logout' %}">
        <button>Logout</button>
    </a>
    {% else %}
    <a href="{% url 'votacao:login' %}">
        <button>Login</button>
    </a>
    {% endif %}
</div>
{% if latest_question_list %}

<ul class="question-list">
    {% for questao in latest_question_list %}
    <a href="{% url 'votacao:detalhe' questao.id %}">
        <li class="question-item">

            {{ questao.questao_texto }}

        </li>
    </a>
    {% endfor %}
</ul>
{% if user.is_superuser %}
<a href="{% url 'votacao:criarquestao' %}" class="create-question-btn">Criar Questão</a>
{% endif %}
{% else %}
<p>Não há questões disponíveis.</p>
{% endif %}


